<h1>Ristorante la CR3</h1>
<div class="about">
    <img src ="../../assets/images/Restaurant.jpg">
    <div>
        <h3>About our restaurant</h3>
        <p>We are a small family restaurant since 2000</p>
        <p>A few little facts about us</p>
        <ul>
            <li>We have specialized in Italian cuisine.</li>
            <li>We have a beautiful garden where you can enjoy your meal even better.</li>
            <li>We have a good working atmosphere.</li>
        </ul>
        <p>We are a small family restaurant specializing in Italian cuisine. We attach great importance to a good working atmosphere, because we are convinced that the food tastes even better then. In our beautiful garden you can really enjoy your meal and watch butterflies.</p>
    </div>
</div>
<div class="why">
    <h1>Why choose us</h1>
    <p>A few reasons why you should choose our restaurant.</p>
    <div class="row row-cols-xs-1 row-cols-ms-1 row-cols-md-3 row-cols-lg-3 row-cols-xl-3">
        <div>
            <p>01</p>
            <h3>Best ingredients.</h3>
            <p>We always use only the best ingredients!</p>
        </div>
        <div>
            <p>02</p>
            <h3>Friendly.</h3>
            <p>We are always very friendly and have a good atmosphere!</p>
        </div>
        <div>
            <p>03</p>
            <h3>Discount.</h3>
            <p>We give a good discount from 40€!</p>
        </div>
    </div>
</div>
