<h1>Ristorante la CR3</h1>
<div class="about">
    <img src ="../../assets/images/Restaurant.jpg">
    <div>
        <h3>Lorem ipsum dolor sit amet consectetur.</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque blanditiis molestias optio nobis adipisci debitis fugiat eum?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque blanditiis molestias optio nobis adipisci debitis fugiat eum?</p>
        <ul>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, vel?</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, vel?</li>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, vel?</li>
        </ul>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti, fuga. Magni perspiciatis officiis quod culpa facere architecto eaque quibusdam reiciendis dignissimos impedit corrupti id debitis itaque nihil quidem optio, repellendus, perferendis maxime hic ut nam?</p>
    </div>
</div>
<div class="why">
    <h1>Why choose us</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio libero accusantium et quibusdam possimus architecto?</p>
    <div class="reasons">
        <div>
            <p>01</p>
            <h3>Lorem, ipsum dolor.</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente laborum ullam dolorum illo veniam omnis aperiam, vitae nihil aspernatur recusandae!</p>
        </div>
        <div>
            <p>02</p>
            <h3>Lorem, ipsum dolor.</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente laborum ullam dolorum illo veniam omnis aperiam, vitae nihil aspernatur recusandae!</p>
        </div>
        <div>
            <p>03</p>
            <h3>Lorem, ipsum dolor.</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente laborum ullam dolorum illo veniam omnis aperiam, vitae nihil aspernatur recusandae!</p>
        </div>
    </div>
</div>
