<footer>
    <nav class="IconNav">
        <a href="#"><img src="../../assets/images/facebook.png"></a>
        <a href="#"><img src="../../assets/images/twitter.png"></a>
        <a href="#"><img src="../../assets/images/google.png"></a>
        <a href="#"><img src="../../assets/images/instagram.png"></a>
        <a href="#"><img src="../../assets/images/linkedin.png"></a>
        <a href="#"><img src="../assets/images/github.png"></a>
    </nav>
    <nav class="footerNav">
        <form>
            <label for="signUp">Sign up for our newsletter</label>
            <input type="text" name="signUp" id="signUp">
            <input type="subscripe" id="sub" value="Subscripe"> 
        </form>
    </nav>
    <p>&copy; 2023 Copyright: Marvin van Dyck</p>
</footer>